<footer>
    <div class="footer-content">
        <div class="footer-section contact">
            <h3>Contact Us</h3>
            <p><i class="bi bi-geo-alt-fill" style="color: red;"></i> Address: 97 - 100, G Wing, 3rd Floor, KK Market, Pune Satara Road, Behind Shankar Maharaj Math, Balajinagar, Pune PIN: 411043</p>
            <p><i class="bi bi-telephone-fill" style="color: red;"></i> Phone: <a href="tel:+919743929666">+91 9743929666</a></p>
            <p><i class="bi bi-telephone-fill" style="color: red;"></i> Phone: <a href="tel:+919075557349">+91 9075557349</a></p>
            <p><i class="bi bi-telephone-fill" style="color: red;"></i> Phone: <a href="tel:+919765560814">+91 9743592555</a></p>
            <p><i class="bi bi-envelope-fill" style="color: red;"></i> Email: <a href="mailto:Anita@admarkdigitek.com">Anita@admarkdigitek.com</a></p>
            <p><i class="bi bi-envelope-fill" style="color: red;"></i> Email: <a href="mailto:Gandharvdeshmukh@gmail.com">Gandharvdeshmukh@gmail.com</a></p>
            
            <div class="social-icons">
                <a href="https://www.instagram.com/admarkdigitech?igsh=MTJtb3JscDA2NnlibQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/admark.digitech?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/admark-digitech-384762358" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about-us.html">About Us</a></li>
                <li><a href="/video-gallery.html">Video Gallery</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </div>
        
        <div class="footer-section products-container">
            <h3 class="products-title">Our Products</h3>
            <div class="product-grid">
                <div class="product-col">
                    <a href="digital-printing-machines.html" class="main-prod">Digital Printers</a>
                    <ul>
                        <li><a href="/digital-flex-printing-machines.html">Flex Printing Machines</a></li>
                        <li><a href="/eco-solvent-printing-machines.html">Eco Solvent Printers</a></li>
                        <li><a href="/uv-flatbed-printing-machines.html">UV Flatbed Printers</a></li>
                        <li><a href="/hybrid-uv-printing-machines.html">UV Hybrid Printers</a></li>
                        <li><a href="/uv-roll-to-roll-printers.html">UV Roll-to-Roll Printers</a></li>
                    </ul>
                </div>

                <div class="product-col">
                    <a href="/cnc-router-machines.html" class="main-prod">CNC Router Machines</a>
                    <ul>
                        <li><a href="/4x8-cnc-router-machines.html">4x8 CNC Router Machine</a></li>
                        <li><a href="/5x10-cnc-router-machines.html">5x10 CNC Router Machine</a></li>
                        <li><a href="/double-spindle-cnc-router-machines.html">Double Spindle CNC Router</a></li>
                        <li><a href="/cnc-stone-pattern-making-machines.html">Stone/Pattern Making CNC Router</a></li>
                    </ul>
                </div>

                <div class="product-col">
                    <a href="/cnc-laser-cutting-machines.html" class="main-prod">CNC Laser Cutting Machine</a>
                    <ul>
                        <li><a href="/cnc-laser-cutting-machines-2x3.html">2x3 CNC Laser Cutting Machine</a></li>
                        <li><a href="/cnc-laser-cutting-machines-4x3.html">4x3 CNC Laser Cutting Machine</a></li>
                        <li><a href="/cnc-laser-cutting-machines-4x4.html">4x4 CNC Laser Cutting Machine</a></li>
                        <li><a href="/cnc-laser-cutting-machines-8x4..html">8x4 CNC Laser Cutting Machine</a></li>
                        <li><a href="/ccd-cnc-laser-cutting-machines.html">CCD CNC Laser Cutting Machine</a></li>
                        <li><a href="/cnc-fiber-laser-cutting-machines.html">Fiber Laser Cutting Machine</a></li>
                    </ul>
                </div>

                <div class="product-col">
                    <a href="/chennel-Bending.html" class="main-prod">CNC Channel Bending Machine</a>
                    <ul>
                    <li><a href="/cnc-aluminium-channel-bending-machines.html">CNC Aluminium Channel Bending Machine</a></li>
                    </ul>
                </div>

                <div class="product-col">
                    <a href="/led-display-screen.html" class="main-prod">LED Display</a>
                    <ul>
                        <li><a href="/indoor-led-display-screen.html"> Indoor LED Display ( Screen ) </a></li>
                        <li><a href="/outdoor-led-display-screen.html"> Outdoor LED Display ( Screen ) </a></li>
                        <li><a href="/vehicle-led-display-screen.html"> Vehicle LED Display ( Screen )</a></li>
                        <li><a href="/led-display-rental-services.html"> LED Display Rental Services</a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Admark Digitech Private Limited. All Rights Reserved.</p>
        <p>Developed By <a href="https://dwi4u.com/" target="_blank">DW Innovation Pvt. Ltd.</a></p>
    </div>
   
    
       <div class="fixed-buttons">
            <a href="https://wa.me/919743592555?text=Hello%20Admark%20Digitech,%20I%20need%20to%20enquire." target="_blank" class="btn-circle whatsapp-btn">
                <i class="fa-brands fa-whatsapp"></i>
            </a>

            <button id="scrollToTop" class="btn-circle scroll-top-btn1">
                <i class="fa-solid fa-arrow-up"></i>
            </button>
        </div>

</footer>
